{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ],
          "node": 8
        },
        "forceAllTransforms": true
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
