{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "tsconfigRootDir": "./"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": ["tsconfig.json"]
      }
    }
  },
  "extends": ["eslint:recommended", "plugin:import/errors"],
  "plugins": ["@typescript-eslint", "import", "simple-import-sort", "prettier"],
  "rules": {
    "indent": 2,
    "semi": ["error", "never"],
    "simple-import-sort/imports": "warn",
    "no-unused-vars": "off",
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": ["error", "always-multiline"],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/consistent-type-imports": [
      "warn",
      { "prefer": "type-imports" }
    ]
  },
  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "rules": {}
    },
    {
      "files": ["example-node/**/*.js", "test/**/*.ts"],
      "rules": {
        "no-unused-vars": ["off"]
      }
    }
  ]
}
