# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1
jobs:
  build_and_test:
    docker:
      - image: cimg/node:18.12
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install system dependencies
          command: sudo apt-get update && sudo apt-get install -y libusb-1.0-0-dev libudev-dev

      - restore_cache:
          key: v2-dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "yarn.lock" }}

      - run:
          name: Build
          command: yarn build
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Audit dependencies
          command: yarn audit
      - run:
          name: Try building the example
          command: yarn tsc -p example-node/tsconfig.json --noEmit
      - run:
          name: Try generating the docs
          command: yarn typedoc
      - run:
          name: Try generating and checking flow types
          # piping output to cat to bypass process.stdout.columns being 0
          # which causes flowgen console logging to crash
          # see https://github.com/aws/aws-cdk/issues/2253
          command: |
            yarn build:flowtypes | cat
            yarn run flow

  update_docs:
    docker:
      - image: cimg/node:18.12
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install system dependencies
          command: sudo apt-get update && sudo apt-get install -y libusb-1.0-0-dev libudev-dev
      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "yarn.lock" }}

      - run:
          name: Get ledgerjs library version
          command: |
            LEDGERJS_PACKAGE_VERSION=$(cat package.json \
            | grep version \
            | head -1 \
            | awk -F: '{ print $2 }' \
            | sed 's/[",]//g')
            echo $LEDGERJS_PACKAGE_VERSION > ledgerjs_version.tmp
      - run:
          name: Build docs
          command: yarn typedoc --out docs_build/$(cat ledgerjs_version.tmp)

      - run:
          name: Generate redirect to current version of docs
          command: echo '<!DOCTYPE html><html><head><meta http-equiv = "refresh" content = "1; url = ./'$(cat ledgerjs_version.tmp)'" /></head><body></body></html>' > docs_build/index.html

      - add_ssh_keys:
          fingerprints:
            - e4:d2:8d:f4:aa:02:4a:ea:ed:72:00:62:1e:f7:9b:bc
      - run:
          name: Setup git
          command: |
            git config user.email "ci-build@vacuumlabs.com"
            git config user.name "ci-build@vacuumlabs.com"
      - run:
          name: Deploy docs
          command: yarn gh-pages --add --dist docs_build --message "[ci skip] Docs for v$(cat ledgerjs_version.tmp)"


workflows:
  version: 2
  main_workflow:
    jobs:
      - build_and_test
      - update_docs:
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - master
